*{
    font-family: 'Archivo', sans-serif;
}

main{
    background-color: rgb(233, 236, 239) ;
}

.btn{
    opacity: 0.7;
    background-color: dimgray;
}
.banner{
    visibility: hidden;
    position: absolute;
}
.banner img{
    
    width: 49%;
    height: 35vh;
    margin: 1px;
    padding: 2px;
}
.carousel-inner{
    height: 10vh;
}
.carousel-item{
    margin-left: 0;
    margin-right: 0;
    height: 40vh;
    
}
.carousel-content{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
#promos{
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    color: rgb(233, 236, 239);
    text-shadow: 6px 6px 0px rgba(0,0,0,0.6);
}

.row{
    margin: auto;
}
.card{
    margin: 5;
    height: 30vh;
    width: 95%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    
}
.liga{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    font-kerning: 50px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(233, 236, 239);
    text-shadow: 3px 3px 0px rgba(0,0,0,0.6);

}
.boton{
    position: relative;
    top: 40%;
    text-align: center;
}
.superliga{
    background-image: url('../img/tab-river-plate-third-shirt-2020-min.jpg');
    
}
.premier{
    background-image: url('../img/manchester-united-camiseta-2020-2021-adidas-local-qw.jpg');  
    
}
.seriea{
    background-image: url('../img/https___hypebeast.com_image_2020_06_inter-milan-nike-home-jersey-2020-2021-season-02.jpg'); 
    
}
.laliga{
    background-image: url('../img/e9fd917c3a71073c9a749160b9171ec1.webp');
    
}
.bundesliga{
    background-image: url('../img/RB-Leipzig-Champions-League-Kit-2019-2020.jpg');
    
}
.mundiales{
    background-image: url('../img/15809542752895.jpg');
}

@media (min-width: 768px ){
    .banner{
        visibility: visible;
        position: relative;
        }
    .carousel{
        height: 40vh;
    }
    .carousel-inner{
        height: 40vh;
    }
    .carousel-content{
        top: 70%;
    }   
}

@media (max-width: 767px){
    .back{
        background: url('../img/equipacion-visitante-del-chelsea-para-la-temporada-2020-21--twitter-chelseafc.jpg'); 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
        height: 100%;
    }
    .color{
        color: rgb(233, 236, 239);
        text-shadow: 3px 3px 0px rgba(0,0,0,0.6);
    }
}