*{
    font-family: 'Archivo', sans-serif;
}
main{
    background-color: rgb(255, 255, 255) ;
}
h1{
    margin-top: 5%;
}
h3{
    margin-top: 5%;
}
.row{
    margin: 0;
}
​.card{
    padding: 0;
    border: 1%;
}
figure{
    height:70%
}

@media (max-width: 650px){
    .escala{
        width: 80%;
    }
}
