

body{
    background-color: darkgrey;
    font-family: 'Archivo', sans-serif;

}
main{
    background-color: darkgrey;
    font-family: 'Archivo', sans-serif;


}
h1{
    margin-top: 5%;
}
h3{
    margin-top: 5%;
}
.row{
    margin: 0;
}
​.card{
    background-color: darkgray;
    padding: 0;
    border: 1%;
}
figure{
    height:70%
}