<footer class="page-footer font-small bg-dark">
    <article class="col-12">
        <h5 class="text-center text-light pt-3">FOLLOW US!</h5>
    </article>
    <div class="d-flex justify-content-center pt-5">
        <div class="mb-5 flex-center">
            <a href="https://facebook.com" class="social text-light bg-dark">
                <i>
                    <ion-icon size="large" name="logo-facebook"></ion-icon>
                </i>
            </a>
            <a href="https://twitter.com" class="social text-light bg-dark">
                <ion-icon size="large" name="logo-twitter"></ion-icon>
            </a>
            <a href="https://pinterest.com" class="social text-light bg-dark">
                <i>
                    <ion-icon size="large" name="logo-pinterest"></ion-icon>
                </i>
            </a>
            <a href="https://youtube.com" class="social text-light bg-dark">
                <ion-icon size="large" name="logo-youtube"></ion-icon></i>
            </a><a href="https://whatsapp.com" class="social text-light bg-dark">
                <i>
                    <ion-icon size="large" name="logo-whatsapp"></ion-icon>
                </i>
            </a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="" class="text-black"> Grupo#7 |DH|</a>
    </div>
</footer>
     
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-341.min.js"></script>
<script src="js/bootstrap.bundle.min.js" ></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>