<header>
  <nav class=" navbar navbar-expand-lg navbar-dark bg-dark bd-highlight">
    <a class="navbar-brand " href="/">
      <img src="/img/logo_cafu.png" width="100" height="50" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex mr-auto">
        <li class="nav-item active align-self-lg-start">
          <a class="nav-link" href="/productos">SHOP <span class="sr-only">(current)</span></a>
        </li>
        <% if(user.roles_id == null){ %>
        <li class="nav-item align-self-lg-end izquierda">
          <a class="nav-link" href="/login">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg>
          </a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <svg class="bi bi-search" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>
          </a>
          <div class="collapse" id="collapseExample">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Qué camiseta buscás?">
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productCart">
            <svg class="bi bi-bag" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
              <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
            </svg>
          </a>
        </li>
        <% if(user.roles_id == 9){ %>
        <li class="nav-item active align-self-lg-start">
          <a class="nav-link" href="/productAdmin">ADD<span class="sr-only">(current)</span></a>
        </li>
        <% } %>
        <%if(user.roles_id != null){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout" id="logout">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-door-closed-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>